Source/flows.json
[{"id":"791a584.2b1c9a8","type":"tab","label":"IP Camera","disabled":false,"info":""},{"id":"6b2d4db4.d46f14","type":"link out","z":"791a584.2b1c9a8","name":"","links":["c6df8e9c.335f6"],"x":275,"y":320,"wires":[]},{"id":"c6df8e9c.335f6","type":"link in","z":"791a584.2b1c9a8","name":"","links":["6b2d4db4.d46f14"],"x":155,"y":380,"wires":[["15a30c5c.5252d4"]]},{"id":"f6418cb7.6ff11","type":"debug","z":"791a584.2b1c9a8","name":"Create","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"2a57a65.741af5a","type":"file in","z":"791a584.2b1c9a8","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":490,"y":540,"wires":[["88b732f9.1ec58","17bb217b.8f478f"]]},{"id":"88b732f9.1ec58","type":"join","z":"791a584.2b1c9a8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":480,"wires":[["63a88802.aea4c8"]]},{"id":"15a30c5c.5252d4","type":"change","z":"791a584.2b1c9a8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"msg.payload.filePath","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":460,"wires":[["2a57a65.741af5a"]]},{"id":"88ec625c.48dd8","type":"function","z":"791a584.2b1c9a8","name":"","func":"if (msg.payload.changeType != \"delete\")\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["6b2d4db4.d46f14","f6418cb7.6ff11"]]},{"id":"9155aa81.4b1208","type":"debug","z":"791a584.2b1c9a8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":480,"wires":[]},{"id":"603a4fbf.e7d81","type":"catch","z":"791a584.2b1c9a8","name":"","scope":["2a57a65.741af5a"],"uncaught":false,"x":310,"y":540,"wires":[["904a31bd.e78b2"]]},{"id":"904a31bd.e78b2","type":"debug","z":"791a584.2b1c9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":620,"wires":[]},{"id":"ed94643b.db2fd8","type":"debug","z":"791a584.2b1c9a8","name":"Delete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"8f35fbe6.47eb68","type":"function","z":"791a584.2b1c9a8","name":"","func":"if (msg.payload.changeType == \"delete\")\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["ed94643b.db2fd8"]]},{"id":"63a88802.aea4c8","type":"change","z":"791a584.2b1c9a8","name":"Flow 3 : Setup mail content","rules":[{"t":"set","p":"cid","pt":"msg","to":"","tot":"date"},{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'image_' & $replace($now(),\":\",\"_\") & '_UTC-0' & '.png', \t    \"content\": $$.payload[0],\t    \"cid\": \"\" & cid & \"\"\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Detect strangers !!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Photo of a stranger's face","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":440,"wires":[["2ecbb3cd.65118c","9155aa81.4b1208","bf699cc.17d996","67941a7.6933de4"]]},{"id":"bf699cc.17d996","type":"change","z":"791a584.2b1c9a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Phat hien nguoi la: ","tot":"str"},{"t":"set","p":"attachments","pt":"msg","to":"attachments","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":360,"wires":[["8dcf8ec3.17475","c2f5dced.55876","7fa958dd.56b868"]]},{"id":"67941a7.6933de4","type":"debug","z":"791a584.2b1c9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":280,"wires":[]},{"id":"7fa958dd.56b868","type":"function","z":"791a584.2b1c9a8","name":"","func":"var time = msg.attachments[0].filename.replace('.png','').replace('image_','');\nmsg.payload = msg.payload + time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":320,"wires":[["5f6521b3.59862","a376cbb5.aa65a8"]]},{"id":"a376cbb5.aa65a8","type":"debug","z":"791a584.2b1c9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":260,"wires":[]},{"id":"f920f04b.98838","type":"function","z":"791a584.2b1c9a8","name":"hostIP","func":"\nif(msg.payload == true) {\n    msg.enabled = true;\n    msg.newproperty = flow.get(\"addr\");\n}\nelse\n    msg.newproperty = \"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1140,"wires":[["33c353c2.50381c","b3eb588.63d8ca8"]]},{"id":"8cdf4069.48e74","type":"function","z":"791a584.2b1c9a8","name":"","func":"if (msg.payload.includes(\"WiFi connected:\")) {\n    var add = msg.payload.split(\" \")[2].replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n    flow.set(\"addr\", \"http://\" + add + \"/cam/1\");\n    msg.newproperty = flow.get(\"addr\");\n    msg.enabled = true;\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":920,"wires":[["33c353c2.50381c","18e004c2.33684b","f920f04b.98838","3202e54d.49d50a"]]},{"id":"18e004c2.33684b","type":"debug","z":"791a584.2b1c9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"newproperty","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":900,"wires":[]},{"id":"b3eb588.63d8ca8","type":"debug","z":"791a584.2b1c9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"newproperty","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":1180,"wires":[]},{"id":"fb909857.3bfd28","type":"ui_switch","z":"791a584.2b1c9a8","name":"","label":"Off/On Stream","tooltip":"","group":"65a81911.2321e8","order":5,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":640,"y":1160,"wires":[["f920f04b.98838"]]},{"id":"2e5be55b.5b86ba","type":"ui_button","z":"791a584.2b1c9a8","name":"","group":"65a81911.2321e8","order":1,"width":0,"height":0,"passthru":false,"label":"View camera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":550,"y":1280,"wires":[["f920f04b.98838","fb909857.3bfd28"]]},{"id":"5f6521b3.59862","type":"ui_text","z":"791a584.2b1c9a8","group":"f9aa9fa6.7802d","order":1,"width":"9","height":"1","name":"","label":"Notification:","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":360,"wires":[]},{"id":"c2f5dced.55876","type":"ui_text","z":"791a584.2b1c9a8","group":"f9aa9fa6.7802d","order":1,"width":"9","height":"3","name":"","label":"Last file:","format":"{{msg.attachments[0].filename}}","layout":"col-center","x":1320,"y":420,"wires":[]},{"id":"3202e54d.49d50a","type":"ui_text","z":"791a584.2b1c9a8","group":"65a81911.2321e8","order":3,"width":0,"height":0,"name":"","label":"Stream Address:","format":"{{msg.newproperty}}","layout":"row-spread","x":1180,"y":980,"wires":[]},{"id":"8dcf8ec3.17475","type":"ui_audio","z":"791a584.2b1c9a8","name":"","group":"f9aa9fa6.7802d","voice":"Microsoft Mia Online (Natural) - English (United Kingdom)","always":true,"x":1340,"y":200,"wires":[]},{"id":"33c353c2.50381c","type":"ui_template","z":"791a584.2b1c9a8","group":"65a81911.2321e8","name":"Display image","order":2,"width":"13","height":"10","format":"\n<iframe id=\"mainFrame\" width=\"670\" height=\"500\" src=\"http://192.168.1.7/cam/1\" style=\"margin:auto;\" frameborder=\"0\" ></iframe>\n\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('mainFrame');\n        x.setAttribute('src', msg.newproperty);\n        });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1160,"y":1080,"wires":[[]]},{"id":"8c4addcb.f27","type":"ui_template","z":"791a584.2b1c9a8","group":"65a81911.2321e8","name":"Clock Toolbar","order":7,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    Date.prototype.today = function () { \n        return (((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"/\"+ ((this.getDate() < 10)?\"0\":\"\") + this.getDate() +\"/\"+ this.getFullYear();\n    }\n\n    // For the time now\n    Date.prototype.timeNow = function () {\n        return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes() +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n    }\n    \n    function upTime() {\n        // var d = new Date();\n        // var date = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();\n        // var time = d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds();\n        // p.text(date+' '+time);\n        p.text(new Date().today() + \" \"+ new Date().timeNow());\n    }\n    \n    \n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":340,"y":960,"wires":[[]]},{"id":"4c2ca3cc.11009c","type":"hostip","z":"791a584.2b1c9a8","name":"Host IP","x":420,"y":1140,"wires":[["fb909857.3bfd28"]]},{"id":"681d298d.7e7d18","type":"wfwatch","z":"791a584.2b1c9a8","folder":"/home/ponlv_hai2020/iot/images","x":130,"y":200,"wires":[["88ec625c.48dd8","8f35fbe6.47eb68"]]},{"id":"2ecbb3cd.65118c","type":"e-mail","z":"791a584.2b1c9a8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"gun.tm99@gmail.com","dname":"Smart Home Camera","x":1160,"y":560,"wires":[]},{"id":"17bb217b.8f478f","type":"image","z":"791a584.2b1c9a8","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":580,"y":640,"wires":[]},{"id":"26d4de3f.752672","type":"ui_template","z":"791a584.2b1c9a8","group":"5569eb30.679284","name":"Information devices","order":0,"width":"8","height":"5","format":"\n<h2>Group 02</h2>\n<h3>Project name: IP Security Camera System</h3>\n<h4>Thông tin thiết bị: </h4>\n\n<p></p>\n    <ul>\n        <li>ESP32 CAM AI-THINKER</li>\n        <li>FTDI Programmer ESP32</li>\n        <li>Micro USB to USB Cable</li>\n        <li>Female-Female Jumper Cables</li>\n    </ul>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":390,"y":1040,"wires":[[]]},{"id":"b766aeeb.ec79b","type":"serial in","z":"791a584.2b1c9a8","name":"","serial":"92595c2f.4ef96","x":530,"y":860,"wires":[["8cdf4069.48e74"]]},{"id":"65a81911.2321e8","type":"ui_group","z":"791a584.2b1c9a8","name":"Video","tab":"11209d61.278673","order":1,"disp":true,"width":"13","collapse":true},{"id":"f9aa9fa6.7802d","type":"ui_group","z":"791a584.2b1c9a8","name":"File","tab":"11209d61.278673","order":3,"disp":true,"width":"9","collapse":true},{"id":"5569eb30.679284","type":"ui_group","z":"","name":"Devices","tab":"843e43be.94d9c","order":2,"disp":true,"width":"8","collapse":true},{"id":"92595c2f.4ef96","type":"serial-port","z":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"11209d61.278673","type":"ui_tab","z":"791a584.2b1c9a8","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"843e43be.94d9c","type":"ui_tab","z":"","name":"Information","icon":"dashboard","disabled":false,"hidden":false}]